@import "tailwindcss";

@theme {
  --color-brand-bg: #000000;
  --color-brand-primary: #9929EA;
  --color-brand-secondary: #CC66DA;
  --color-brand-accent: #FAEB92;
}

body {
  background-color: var(--color-brand-bg);
  color: white;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}
